/* header styling */
h1 {
    text-align: left;
    background-color: rgb(126, 133, 148);
    padding: 2%;
    margin-bottom: 5%;
}

/* weather icon */
img {
    height: 70px;
    width: 70px;
    margin-right: 5px;
}

/* button for searching  */
button {
    width: 100%;
}