*{
    box-sizing: border-box;
}

/* header styling */
h1 {
    text-align: center;
    background-color: rgb(156, 170, 172);
    padding: 5%;
    margin-bottom: 14%;
}
body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* weather icon styling */
img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* hides the cards when they don't have information displayed */
.hide {
    display: none;
}

/* button styling */
button {
    width: 100%;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}